.advantages {
    display: flex;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
    gap: 30px;
    border-right: 1px solid rgba(29, 37, 45, 0.3);
    border-left: 1px solid rgba(29, 37, 45, 0.3);
    color: #1D252D;

}

.advantages__item {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.advantages__number {
    font-weight: 200;
    font-size: 54px;
    line-height: 60px;
}

.advantages__text {
    max-width: 190px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.advantages__item--accent {
    padding: 20px;
    border-radius: 0px 60px;
    background: #F2F3EE;
}
